.container {
    background-color: #ccc;
    height: 200px;
    display: flex;
    
    flex-direction: row;
    /* column | row-reverse | column-reverse */

    flex-wrap: nowwrap;
    /* wrap | wrap-reverse */

    flex-flow: row wrap;
}

.item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    width: 40%;
}